{
  "BASE_URL": "http://localhost:8080/",
  "CIUDADANIA_DIGITAL_URL": "https://cuenta.demo.gtic.gob.bo/",
  "PATH_DATOS_FAKE_SEGIP": "DatosServiciosFakeSEGIP.ods",
  "PATH_NOMBRES_PRUEBA": "Nombres de prueba .xlsx"
}